$color-primario: #fcd5ce;
$color-secundario: #ff8fa3; 
$color-terciario: #7a7a7a;


$lin-gradient1: linear-gradient(to left, #00B7DA, #161569, #00B7DA);
$lin-gradient2: linear-gradient(to left, #FFCAE3, #FF4990, #FFCAE3);
$lin-gradient3: linear-gradient(#ffc8dd, #ffafcc, #ffc8dd);

$desktop: 768px;
$desktop2: 414px;


$colores-texto:(primerT: #fb6f92, segundoT: #ff8fab, tercerT: #ffb3c6, cuartoT: #ffc2d1, quintoT: #fec0ce);

